.section-categories {
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
    font-size: 22px;
    

    input {
        display: none;
    }

    label {
        margin: 0px 5px 0px 5px;
    }

    label:hover {
        cursor: pointer;
        transform: scale(1.03);
    }


    input:checked + label {
        
       transform: scale(1.2);
    }
}