@use 'variables';
@use 'container';
@use 'section-title';
@use 'section-top';
@use 'section--edit-categories';
@use 'section-categories';
@use 'section-bottom';
@use 'categories-color';

body {
    margin: 0;
    padding: 0;
    background-color: variables.$background-color;
}